h1{
    text-align: center;
    margin: 20px;
}

#submitButtons{
    text-align: center;
    margin: 10px;
}

#planDiv{
    position:fixed; 
    top:2%; right:2%;
    width: 25%;
    height: 35%;
    z-index: 1000;
    background-color: 'white',
}

#selected{
    padding-top: 40px;
    text-align: center;
}

#selected p{
    line-height: 70%;
}

.panel-body{
    position: absolute;
    left: 20%;
    top: 5%;
}

#table{
    margin-top: 15px;
}

